# Importing Libraries

In [34]:
# Importing libraries
import pandas as pd
import numpy as np 
import os

# Import DataFrame

In [36]:
path= r'C:\Users\Ali Hassan\Documents\MM-2020 Instacart BAsket Analysis'
ords_prods_merge= pd.read_pickle(os.path.join(path,'Data','Prepared data','orders_products_merged_derived.pkl'))

# Step 2

In [38]:
# Creating subset.
ords_prods_merge_sub= ords_prods_merge[:1000000]

In [39]:
# Check size.
ords_prods_merge_sub.shape

(1000000, 18)

In [40]:
ords_prods_merge_sub.head()

,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Match,price_range_loc,Busiest_day,Busiest days,busiest_period_of_day
order_id,,,,,,,,,,,,,,,,,,
2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid range product,Regular busy,Regularly busy,Average orders
2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid range product,Regular busy,Regularly busy,Average orders
2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Low range product,Regular busy,Regularly busy,Average orders
2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low range product,Regular busy,Regularly busy,Average orders
2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low range product,Regular busy,Regularly busy,Average orders

In [41]:
ords_prods_merge_sub.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [42]:
# Use groupby and agg function to calculate mean of user_number_id.
ords_prods_merge.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.253936
2                17.391155
3                17.508532
4                17.826687
5                14.978609
6                16.382088
7                17.400270
8                15.135474
9                16.023778
10               20.675194
11               16.164324
12               15.776144
13               16.575220
14               16.838906
15               16.147384
16               17.679702
17               16.149885
18               19.202858
19               17.136464
20               16.651705
21               22.292444

# Step 3

There are 21 department_id's compared to subset of 1000000 there are only 8. And the mean ordernumbers seem to be different for each department when looking at the entire data frame.

# Step 4

In [46]:
# Creating new column "max_order'
ords_prods_merge['max_order'] = ords_prods_merge.groupby (['user_id'])['order_number'].transform("max")

In [47]:
# Checking for new column.
ords_prods_merge.head(20)

,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Match,price_range_loc,Busiest_day,Busiest days,busiest_period_of_day,max_order
order_id,,,,,,,,,,,,,,,,,,,
2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid range product,Regular busy,Regularly busy,Average orders,10
2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid range product,Regular busy,Regularly busy,Average orders,10
2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Low range product,Regular busy,Regularly busy,Average orders,10
2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low range product,Regular busy,Regularly busy,Average orders,10
2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low range product,Regular busy,Regularly busy,Average orders,10
2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,Mid range product,Regular busy,Slowest days,Average orders,10
2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117,19,3.0,both,Low range product,Regular busy,Slowest days,Average orders,10
2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23,19,4.4,both,Low range product,Regular busy,Slowest days,Average orders,10
2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24,4,10.3,both,Mid range product,Regular busy,Slowest days,Average orders,10
2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low range product,Regular busy,Slowest days,Average orders,10
2398795,1,2,3,7,15.0,13032,6,0,both,Cinnamon Toast Crunch,121,14,4.0,both,Low range product,Regular busy,Slowest days,Average orders,10
473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,Mid range product,Regular busy,Slowest days,Most orders,10
473747,1,3,3,12,21.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,both,Low range product,Regular busy,Slowest days,Most orders,10
473747,1,3,3,12,21.0,10258,3,1,both,Pistachios,117,19,3.0,both,Low range product,Regular busy,Slowest days,Most orders,10
473747,1,3,3,12,21.0,25133,4,0,both,Organic String Cheese,21,16,8.6,both,Mid range product,Regular busy,Slowest days,Most orders,10
473747,1,3,3,12,21.0,30450,5,0,both,Creamy Almond Butter,88,13,3.2,both,Low range product,Regular busy,Slowest days,Most orders,10
2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest days,Average orders,10
2254736,1,4,4,7,29.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,both,Low range product,Least busy,Slowest days,Average orders,10
2254736,1,4,4,7,29.0,10258,3,1,both,Pistachios,117,19,3.0,both,Low range product,Least busy,Slowest days,Average orders,10
2254736,1,4,4,7,29.0,25133,4,1,both,Organic String Cheese,21,16,8.6,both,Mid range product,Least busy,Slowest days,Average orders,10

In [48]:
# Assign loyalty flag.
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

ords_prods_merge.loc[(ords_prods_merge['max_order'] <=40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

ords_prods_merge.loc[ords_prods_merge['max_order'] <=10, 'loyalty_flag'] = 'New customer'

In [49]:
# Check Loyalty flags
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    1507700
Loyal customer       988447
New customer         605145
Name: count, dtype: int64

In [50]:
# Check Loyalty flag in dataframe.

ords_prods_merge[['user_id', 'loyalty_flag', 'order_number', 'max_order']].head(20)

          user_id  loyalty_flag  order_number  max_order
order_id
2539329         1  New customer             1         10
2539329         1  New customer             1         10
2539329         1  New customer             1         10
2539329         1  New customer             1         10
2539329         1  New customer             1         10
2398795         1  New customer             2         10
2398795         1  New customer             2         10
2398795         1  New customer             2         10
2398795         1  New customer             2         10
2398795         1  New customer             2         10
2398795         1  New customer             2         10
473747          1  New customer             3         10
473747          1  New customer             3         10
473747          1  New customer             3         10
473747          1  New customer             3         10
473747          1  New customer             3         10
2254736         1  New customer             4         10
2254736         1  New customer             4         10
2254736         1  New customer             4         10
2254736         1  New customer             4         10

# Step 5

In [52]:
# The min and max and mean of each loyalty flag.
ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer     9.728798  1.0  99999.0
New customer      14.330025  1.0  99999.0
Regular customer  11.445849  1.0  99999.0

# Step 6

In [54]:
# Creating column for average spender.
ords_prods_merge['average_spend']= ords_prods_merge.groupby(['user_id'])['prices'].transform("max")

In [55]:
# Creating flag for low and high spender.
ords_prods_merge.loc[ords_prods_merge['average_spend']<10, 'spender_flag']='Low_spender'

ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag']= 'High_spender'

In [56]:
# Check spender flags.
ords_prods_merge['spender_flag'].value_counts(dropna=False)

spender_flag
High_spender    3097944
Low_spender        3348
Name: count, dtype: int64

In [57]:
pd.options.display.max_rows = 100

In [58]:
ords_prods_merge[['user_id', 'average_spend', 'spender_flag', 'prices']].head(100)

          user_id  average_spend  spender_flag  prices
order_id
2539329         1           14.0  High_spender     9.0
2539329         1           14.0  High_spender    12.5
2539329         1           14.0  High_spender     4.4
2539329         1           14.0  High_spender     4.7
2539329         1           14.0  High_spender     1.0
2398795         1           14.0  High_spender     9.0
2398795         1           14.0  High_spender     3.0
2398795         1           14.0  High_spender     4.4
2398795         1           14.0  High_spender    10.3
2398795         1           14.0  High_spender     4.7
2398795         1           14.0  High_spender     4.0
473747          1           14.0  High_spender     9.0
473747          1           14.0  High_spender     4.4
473747          1           14.0  High_spender     3.0
473747          1           14.0  High_spender     8.6
473747          1           14.0  High_spender     3.2
2254736         1           14.0  High_spender     9.0
2254736         1           14.0  High_spender     4.4
2254736         1           14.0  High_spender     3.0
2254736         1           14.0  High_spender     8.6
2254736         1           14.0  High_spender     1.0
431534          1           14.0  High_spender     9.0
431534          1           14.0  High_spender     4.4
431534          1           14.0  High_spender     3.0
431534          1           14.0  High_spender     8.6
431534          1           14.0  High_spender     2.7
431534          1           14.0  High_spender    14.0
431534          1           14.0  High_spender     5.0
431534          1           14.0  High_spender    10.3
3367565         1           14.0  High_spender     9.0
3367565         1           14.0  High_spender     4.4
3367565         1           14.0  High_spender     3.0
3367565         1           14.0  High_spender     8.6
550135          1           14.0  High_spender     9.0
550135          1           14.0  High_spender     3.0
550135          1           14.0  High_spender     4.4
550135          1           14.0  High_spender     8.6
550135          1           14.0  High_spender     4.0
3108588         1           14.0  High_spender     4.4
3108588         1           14.0  High_spender     9.0
3108588         1           14.0  High_spender     3.0
3108588         1           14.0  High_spender     8.6
3108588         1           14.0  High_spender    13.4
3108588         1           14.0  High_spender     1.8
2295261         1           14.0  High_spender     1.8
2295261         1           14.0  High_spender    13.4
2295261         1           14.0  High_spender     8.6
2295261         1           14.0  High_spender     9.0
2295261         1           14.0  High_spender     3.0
2295261         1           14.0  High_spender     4.4
2550362         1           14.0  High_spender     9.0
2550362         1           14.0  High_spender    13.4
2550362         1           14.0  High_spender     6.8
2550362         1           14.0  High_spender    12.6
2550362         1           14.0  High_spender     8.6
2550362         1           14.0  High_spender     3.0
2550362         1           14.0  High_spender     1.3
2550362         1           14.0  High_spender     4.0
2550362         1           14.0  High_spender     4.4
2168274         2           14.8  High_spender     5.2
2168274         2           14.8  High_spender     6.3
2168274         2           14.8  High_spender     2.3
2168274         2           14.8  High_spender    10.9
2168274         2           14.8  High_spender     2.7
2168274         2           14.8  High_spender     4.1
2168274         2           14.8  High_spender     5.0
2168274         2           14.8  High_spender     9.4
2168274         2           14.8  High_spender    14.8
2168274         2           14.8  High_spender     7.5
2168274         2           14.8  High_spender     4.4
2168274         2           14.8  High_spender    10.3
2168274         2           14.8  High_spender     2.5
1501582         2           14.8  High_spender     1.3
1501582         2           14.8  High_spender     2.0
1501582         2           14.8  High_spender     3.5
1501582         2           14.8  High_spender     6.3
1501582         2           14.8  High_spender     3.9
1501582         2           14.8  High_spender     2.0
1901567         2           14.8  High_spender     6.3
1901567         2           14.8  High_spender     5.2
1901567         2           14.8  High_spender     2.3
1901567         2           14.8  High_spender     6.6
1901567         2           14.8  High_spender     6.2
738281          2           14.8  High_spender     7.1
738281          2           14.8  High_spender     5.2
738281          2           14.8  High_spender     7.5
738281          2           14.8  High_spender     5.8
738281          2           14.8  High_spender     8.9
738281          2           14.8  High_spender     9.1
738281          2           14.8  High_spender     5.5
738281          2           14.8  High_spender    12.3
738281          2           14.8  High_spender     4.0
738281          2           14.8  High_spender    10.8
738281          2           14.8  High_spender    12.6
738281          2           14.8  High_spender     2.0
738281          2           14.8  High_spender     5.9
1673511         2           14.8  High_spender    14.0
1673511         2           14.8  High_spender     2.9
1673511         2           14.8  High_spender     1.6
1673511         2           14.8  High_spender     3.4

# Step 7

In [60]:
# Create a column for frequent users.
ords_prods_merge['customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform("median")

In [61]:
# Creating flag on order frequency.
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'

ords_prods_merge.loc[(ords_prods_merge['customer_frequency']>10) & (ords_prods_merge['customer_frequency']<=20),'frequency_flag'] = 'Regular_customer'

ords_prods_merge.loc[ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [62]:
# Check frequency flags
ords_prods_merge['frequency_flag'].value_counts(dropna= False)

frequency_flag
Frequent Customer        2047951
Regular_customer          699368
Non_frequent_customer     353973
Name: count, dtype: int64

NaN values should mean there are 5 customers who have only bought once.

In [64]:
ords_prods_merge[['user_id','days_since_prior_order','customer_frequency','frequency_flag']].head(100)

,user_id,days_since_prior_order,customer_frequency,frequency_flag
order_id,,,,
2539329,1,NaN,20.5,Non_frequent_customer
2539329,1,NaN,20.5,Non_frequent_customer
2539329,1,NaN,20.5,Non_frequent_customer
2539329,1,NaN,20.5,Non_frequent_customer
2539329,1,NaN,20.5,Non_frequent_customer
2398795,1,15.0,20.5,Non_frequent_customer
2398795,1,15.0,20.5,Non_frequent_customer
2398795,1,15.0,20.5,Non_frequent_customer
2398795,1,15.0,20.5,Non_frequent_customer
2398795,1,15.0,20.5,Non_frequent_customer
2398795,1,15.0,20.5,Non_frequent_customer
473747,1,21.0,20.5,Non_frequent_customer
473747,1,21.0,20.5,Non_frequent_customer
473747,1,21.0,20.5,Non_frequent_customer
473747,1,21.0,20.5,Non_frequent_customer
473747,1,21.0,20.5,Non_frequent_customer
2254736,1,29.0,20.5,Non_frequent_customer
2254736,1,29.0,20.5,Non_frequent_customer
2254736,1,29.0,20.5,Non_frequent_customer
2254736,1,29.0,20.5,Non_frequent_customer
2254736,1,29.0,20.5,Non_frequent_customer
431534,1,28.0,20.5,Non_frequent_customer
431534,1,28.0,20.5,Non_frequent_customer
431534,1,28.0,20.5,Non_frequent_customer
431534,1,28.0,20.5,Non_frequent_customer
431534,1,28.0,20.5,Non_frequent_customer
431534,1,28.0,20.5,Non_frequent_customer
431534,1,28.0,20.5,Non_frequent_customer
431534,1,28.0,20.5,Non_frequent_customer
3367565,1,19.0,20.5,Non_frequent_customer
3367565,1,19.0,20.5,Non_frequent_customer
3367565,1,19.0,20.5,Non_frequent_customer
3367565,1,19.0,20.5,Non_frequent_customer
550135,1,20.0,20.5,Non_frequent_customer
550135,1,20.0,20.5,Non_frequent_customer
550135,1,20.0,20.5,Non_frequent_customer
550135,1,20.0,20.5,Non_frequent_customer
550135,1,20.0,20.5,Non_frequent_customer
3108588,1,14.0,20.5,Non_frequent_customer
3108588,1,14.0,20.5,Non_frequent_customer
3108588,1,14.0,20.5,Non_frequent_customer
3108588,1,14.0,20.5,Non_frequent_customer
3108588,1,14.0,20.5,Non_frequent_customer
3108588,1,14.0,20.5,Non_frequent_customer
2295261,1,0.0,20.5,Non_frequent_customer
2295261,1,0.0,20.5,Non_frequent_customer
2295261,1,0.0,20.5,Non_frequent_customer
2295261,1,0.0,20.5,Non_frequent_customer
2295261,1,0.0,20.5,Non_frequent_customer
2295261,1,0.0,20.5,Non_frequent_customer
2550362,1,30.0,20.5,Non_frequent_customer
2550362,1,30.0,20.5,Non_frequent_customer
2550362,1,30.0,20.5,Non_frequent_customer
2550362,1,30.0,20.5,Non_frequent_customer
2550362,1,30.0,20.5,Non_frequent_customer
2550362,1,30.0,20.5,Non_frequent_customer
2550362,1,30.0,20.5,Non_frequent_customer
2550362,1,30.0,20.5,Non_frequent_customer
2550362,1,30.0,20.5,Non_frequent_customer
2168274,2,NaN,13.0,Regular_customer
2168274,2,NaN,13.0,Regular_customer
2168274,2,NaN,13.0,Regular_customer
2168274,2,NaN,13.0,Regular_customer
2168274,2,NaN,13.0,Regular_customer
2168274,2,NaN,13.0,Regular_customer
2168274,2,NaN,13.0,Regular_customer
2168274,2,NaN,13.0,Regular_customer
2168274,2,NaN,13.0,Regular_customer
2168274,2,NaN,13.0,Regular_customer
2168274,2,NaN,13.0,Regular_customer
2168274,2,NaN,13.0,Regular_customer
2168274,2,NaN,13.0,Regular_customer
1501582,2,10.0,13.0,Regular_customer
1501582,2,10.0,13.0,Regular_customer
1501582,2,10.0,13.0,Regular_customer
1501582,2,10.0,13.0,Regular_customer
1501582,2,10.0,13.0,Regular_customer
1501582,2,10.0,13.0,Regular_customer
1901567,2,3.0,13.0,Regular_customer
1901567,2,3.0,13.0,Regular_customer
1901567,2,3.0,13.0,Regular_customer
1901567,2,3.0,13.0,Regular_customer
1901567,2,3.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
738281,2,8.0,13.0,Regular_customer
1673511,2,8.0,13.0,Regular_customer
1673511,2,8.0,13.0,Regular_customer
1673511,2,8.0,13.0,Regular_customer
1673511,2,8.0,13.0,Regular_customer

# Export Dataframe.

In [91]:
ords_prods_merge.to_pickle(os.path.join(path,'Data','Prepared data','aggregated_ords_prods_merge.pkl'))